<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.image.admin.mapper.UserMapper">
    <select id="findById" resultType="User" parameterType="String" >
        select user_id ,user_name ,user_age ,user_birthday from user where user_id = #{userId}
    </select>
</mapper>
